<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!-- Set to "pg" to use PostgreSQL, "sqlserver" (default) for SQL Server -->
    <add key="DbDriver" value="sqlserver" />
  </appSettings>

  <connectionStrings>
    <add name="sqlCon1" connectionString="Data Source=localhost; Initial Catalog=Pharmacy; User ID=SA; Password=StrongPass123!"
         providerName="System.Data.SqlClient"/>
    <add name="pgCon1" connectionString="Host=127.0.0.1;Port=5432;Database=pharmacy;Username=root;Password=rootpass"
         providerName="Npgsql"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Npgsql" />
      </assemblies>
    </compilation>
  </system.web>

</configuration>
